/* Mixins *********************************************************************************/
.button-transparent {
    @include button(rem-calc(12), false, false, false, false);
    border: 2px solid white;
    background: rgba($primary-color, .5);
    color: white;
    width: 100%;
    transition: all .2s ease-in-out;
    &:hover {
        color: $primary-color;
        background: rgba(white, .5);
    }
}
.button-blue {
    @include button(rem-calc(12), false, false, false, false);
    border: 2px solid $primary-color;
    background: lighten($primary-color, 60%);
    color: $primary-color;
    width: 100%;
    transition: all .2s ease-in-out;
    &:hover {
        color: white;
        background: $primary-color;
    }
}
.button-blue-white-border {
    @include button(rem-calc(12), false, false, false, false);
    border: 2px solid $white;
    background: lighten($primary-color, 30%);
    color: white;
    width: 100%;
    transition: all .2s ease-in-out;
    &:hover {
        color: white;
        background: $primary-color;
    }   
}
.rotate {
    -moz-transition: all .2s linear;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}

.rotate.down {
    -ms-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    transform:rotate(180deg);
}
.full-width {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: initial;
}

/* Custom CSS *****************************************************************************/
.tab-bar {
    position: absolute;
    width: 100%;
}
header h1 {
    margin: rem-calc(10) 0 rem-calc(10);   
}
#homepage-hero {
    background: url(/img/PlaneCropped.jpg) center no-repeat;
    height: 500px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    h2 {
        color: white;
        font-size: rem-calc(60);
        line-height: 4rem;
        margin-top: rem-calc(10);
        @media(max-width: 359px) {
            font-size: rem-calc(40);   
        }
    }
    p, a {
        color: white;   
    }
} //#homepage-hero
#cta-button-wrapper {
    margin-top: rem-calc(90);
    @media(max-width: 359px) {
        margin-top: rem-calc(50);   
    }
    .row {
        margin-top: rem-calc(20);   
    }
    a {
        @media(max-width: 359px) {
            font-size: rem-calc(13);   
        }    
    }
}
#find-out-more {
    margin-top: rem-calc(40);   
}
#individual-programs  {
    h2 {
        color: $primary-color;
        @media(min-width: 360px) {
            font-size: rem-calc(36);   
        }
        @media(min-width: 500px) {
            font-size: rem-calc(48);   
        }
    }
    h3 {
        font-family: $body-font-family;
        color: $primary-color;
    }
    .accordion {
        padding: 0;   
    }
    .accordion-navigation a {
        border: 1px solid black;
        &:first-of-type {
            border-top: 2px solid black;   
        }
        &:last-of-type {
            border-bottom: 2px solid black;  
        }
        img {
            width: 40px;   
        }
    }
    li.tab-title {
        margin: 0;
        padding: 0;
        width: 20%;
        text-align: center;
    }
    li a {
        font-size: rem-calc(12);  
        padding: 10px 0;
        margin: 0;
    }
    section {
        background: red; 
    }
    
} //#individual-programs section
#college-veterans {
    background: $primary-color;
    h2, p {
        color: white;
    }   
    h2 {
        border-bottom: 1px solid white; 
    }
} //#college-veterans section
#why-sunrise {
    h2 {
        color: $primary-color;  
   }
    @media #{$large-up} {
        p {
            margin-bottom: .5rem; 
        }   
    }
} //#why-sunrise section
#cta-section {
    background: $primary-color;
    h2, p {
        color: white;   
    }
    p {
        font-size: rem-calc(12); 
        
    }
} //#cta-section
h3 {
    font-family: $air-americana;   
}